node_modules/
dist/
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
Desktop.ini

# env
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# nest
.nest-cli-cache

# tests / coverage
coverage/
.nyc_output/
junit.xml
